<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Practice
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="flex  ps-10 bg-[#d9f99d] py-1">
        <ul class="flex items-center gap-10">

            <li class="text-3xl font-bold text-yellow-600">Practice 2</li>
            <li class="hover:underline underline-offset-8 font-bold text-red-500"><a href="{% url 'show' %}">Show </a></li>
            <li class="hover:underline underline-offset-8 font-bold text-red-500"><a href="{% url 'album' %}">Add album</a></li>
            <li class="hover:underline  underline-offset-8 font-bold text-red-500"><a href="{% url 'musician' %}">Add musician</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>